@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/poppins/Poppins-Thin.ttf);
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/poppins/Poppins-ExtraLight.ttf);
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/poppins/Poppins-Light.ttf);
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/poppins/Poppins-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/poppins/Poppins-Medium.ttf);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/poppins/Poppins-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/poppins/Poppins-ExtraBold.ttf);
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/poppins/Poppins-Black.ttf);
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: Rubik;
    src: url(../../assets/fonts/rubik/Rubik-VariableFont_wght.ttf);
    font-weight: 1 999;
    font-display: swap;
}